.avatar {
    & img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.avatarSmall {
    & img {
        width: 55px;
        height: 55px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}
