.cookies {
    position: fixed;
    right: 40px;
    bottom: 20px;
    z-index: 100;
    width: 230px;
    height: 230px;
    background-color: #000;
    border-radius: 50%;
    box: vertical middle center;
    opacity: 0;
    @media (--tablet) {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        border-radius: 0;
    }
}

.cookiesWrap {
    width: 100%;
    padding: 10px 20px 0;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 0;
    & h5 {
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
    }
    & p {
        font-weight: 700;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    & button {
        width: 100%;
        padding: 0;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        background-color: transparent;
        border: 0;
    }
}
