.glide {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.glide * {
    box-sizing: inherit;
}
.glide__track {
    height: 100%;
    overflow: hidden;
}
.glide__slides {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    touch-action: pan-Y;
    will-change: transform;
}
.glide__slides--dragging {
    user-select: none;
}
.glide__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.glide__arrows {
    -webkit-touch-callout: none;
    user-select: none;
}

.glide--rtl {
    direction: rtl;
}

.glide__bullets {
    position: absolute;
    top: -30px;
    left: var(--global-padding);
    z-index: 100;
    user-select: none;
    @media (--phone) {
        display: none;
    }
}

.glide__bullet {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    padding: 0;
    background-color: transparent;
    /* background-color: #000;
    border: 1px solid #000;
    border-radius: 50%; */
    border: 0;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    & svg {
        width: 15px;
        height: 15px;
        & .pie1 {
            /* animation: pie1 3s ease both; */
            fill: rgba(0, 0, 0, 0);
            stroke-width: 30;
            stroke-dasharray: 0, 0, 0, 100;
            stroke-dashoffset: 25;
            stroke: #000;
            @media (--tablet) {
                stroke: #fff;
            }
        }
        & .pie2 {
            /* animation: pie1 3s ease both; */
            fill: rgba(0, 0, 0, 0);
            stroke: #000;
            @media (--tablet) {
                stroke: #fff;
            }
        }
    }
}

.glide__bullet--active {
    background-color: transparent;
    & svg {
        & .pie1 {
            animation: pie1 5s ease both;
        }
    }
}

@keyframes pie1 {
    100% {
        stroke-dasharray: 100, 0, 0, 0;
    }
}
