.address {
    box: horizontal;
    margin-bottom: 60px;
    @media (--tablet) {
        box: vertical;
    }
}

.addressContent {
    lost-column: 1/3 2 flex;
    & h1 {
        color: #000000;
        font-weight: 700;
        font-size: 45px;
        font-family: "Roboto", sans-serif;
        line-height: 48.82px;
        text-transform: uppercase;
    }
    & p {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        line-height: 21.82px;
    }
    & a {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        font-style: italic;
        text-decoration: none;
    }
    @media (--tablet) {
        lost-column: 1/1 1 flex;
    }
}

.addressMap {
    lost-column: 2/3 2 flex;
    height: 200px;
    @media (--tablet) {
        lost-column: 1/1 1 flex;
    }
}

#addressMap {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
