.contactCards {
    box: horizontal;
    flex-wrap: wrap;
}
.contactCard {
    lost-column: 1/4 4 60px flex;
    margin-bottom: 60px;
    box: vertical;
    @media (--tablet) {
        lost-column: 1/2 2 60px flex;
    }
    @media (--phone) {
        lost-column: 1/1 1 60px flex;
        border-bottom: 1px solid #000;
    }
}

.contactCardRow {
    box: horizontal;
    margin-bottom: 13px;
}

.contactCardSidebar {
    flex: 0 1 55px;
    width: 55px;
    min-width: 55px;
    margin-right: 22px;
    box: vertical top center;
    & svg {
        width: 26px;
        height: 26px;
    }
}

.contactCardName {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    & span {
        display: block;
        font-weight: 400;
        font-size: 12px;
        font-variant: small-caps;
        line-height: 16px;
        text-transform: none;
    }
}

.contactCardLink {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 16px;
    text-transform: uppercase;
    & span {
        display: block;
        font-size: 12px;
        font-style: italic;
        line-height: 16px;
    }
}

.contactCardPhone {
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 17px;
    text-transform: uppercase;
    & span {
        display: block;
        font-size: 12px;
        font-style: italic;
        line-height: 16px;
    }
}
