.managmentCards {
    box: horizontal;
    flex-wrap: wrap;
}
.managmentCard {
    lost-column: 1/4 4 60px flex;
    margin-bottom: 60px;
    box: vertical;
    @media (--tablet) {
        lost-column: 1/2 2 60px flex;
    }
    @media (--phone) {
        lost-column: 1/1 1 60px flex;
        border-bottom: 1px solid #000;
    }
}
.managmentPhoto {
    aspect-ratio: '16:21';
    margin-bottom: 30px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.managmentName,
.managmentPosition {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
}

.managmentPosition {
    color: #737373;
}
