<div class="mapInfoWindow">
  <div class="infoWindowImage"><img src="${image}" alt="" /></div>
  <div class="infoWindowTitle">${name}</div>
  <div class="infoWindowClose">
    <svg class="icon-krest"><use xlink:href="#icon-krest" /></svg>
  </div>
</div>
