.popupCloseWrap {
    padding: 0px 40px 0;
    box: horizontal middle center;
}

.popupClose {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    & svg {
        width: 50px;
        height: 50px;
        transition: all 0.4s ease;
        stroke: #000;
    }
    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}

.popupCloseWhite {
    & svg {
        stroke: #fff;
    }
}
