.popupHeader {
    margin-bottom: 30px;
    padding: 30px 40px 0;
    & h3 {
        padding-bottom: 30px;
        color: #000000;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 35.82px;
        text-transform: uppercase;
        border-bottom: 4px solid #000;
    }
}

.popupContent {
    --color: #000;
    padding: 30px 40px;
    box: vertical top left;
    & h2 {
        margin-bottom: 30px;
        color: var(--color);
        font-weight: 700;
        font-size: 48px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 49.82px;
        text-transform: uppercase;
        @media (--desktop) {
            font-size: 30px;
            line-height: 35px;
        }
    }

    & h3 {
        margin-bottom: 30px;
        color: #000000;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 35.82px;
        text-transform: uppercase;
    }

    & h4 {
        margin-bottom: 30px;
        color: #000000;
        font-weight: 400;
        font-size: 30px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 35.82px;
        text-transform: uppercase;
    }
    & h5 {
        position: relative;
        margin-bottom: 20px;
        color: var(--color);
        font-weight: 400;
        font-size: 14px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 14px;
        text-transform: uppercase;
        &:after {
            position: absolute;
            top: calc(50% - 0.05em);
            left: calc(100% + 25px);
            width: 200px;
            height: 1px;
            background-color: var(--color);
            content: '';
            @media (--tablet) {
                left: calc(100% + 15px);
            }
        }
    }
    & p {
        margin-bottom: 30px;
        color: var(--color);
        font-weight: 400;
        font-size: 20px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 33.82px;
    }

    & ul {
        margin-bottom: 30px;
        padding-left: 25px;
        list-style: disc;
        @media (--desktop) {
            padding-top: 28px;
        }
        @media (--tablet) {
            min-height: 0;
            padding-bottom: 20px;
        }
    }

    & li {
        color: var(--color);
        font-weight: 400;
        font-size: 20px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 33.82px;
        @media (--desktop) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    & a {
        color: var(--color);
        text-decoration: underline;
    }

    & .popupContentLink {
        color: var(--color);
        font-weight: 700;
        font-size: 20px;
        font-family: 'Cairo', Arial, Helvetica, sans-serif;
        line-height: 54.82px;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.popupContentWhite {
    --color: #fff;
}
.popupText {
    padding: 20px 0 0px;
    border-top: 3px solid var(--color);
    border-bottom: 1px solid var(--color);
}

.popupImage {
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
