.popupSlider {
    padding: 30px 40px;
}
.popupSlide {
    height: 475px;
    & img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.popupSliderControls {
    margin-top: 20px;
}

.popupSliderControl {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
}
