.pageDataCharts {
    box: horizontal;
    margin-bottom: 50px;
    @media (--tablet) {
        box: vertical top left;
    }
}

.pageDataChartItem {
    /* lost-column: 1 /4 4 70px flex;lost-columnlost-column */
    box: vertical top left;
    margin-right: 50px;
}

.pageDataChartValue {
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
    font-size: 73px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    &:after {
        display: block;
        width: 105px;
        height: 1px;
        background-color: #000;
        content: "";
    }
}

.pageDataChartLabel {
    color: #000000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    line-height: 22px;
}
