.pageFooter {
    padding-top: 15px;
    border-top: 4px solid #2d5647;
    box: horizontal middle left;
}

.pageFooterItem {
    margin-right: 65px;
    text-decoration: none;
    cursor: pointer;
    box: horizontal middle;
    &:hover {
        & .pageFooterItemText:after {
            width: calc(100% - 5px);
        }
        & .pageFooterItemIcon {
            transform: perspective(1px) translateZ(0);
            animation-name: hvr-icon-left;
            animation-duration: 0.75s;
            animation-timing-function: ease-out;
        }
    }

    @media (--phone) {
        margin-right: 20px;
    }
}

.pageFooterItemText {
    position: relative;
    margin-right: 15px;
    color: #000000;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    line-height: 13px;
    &:after {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: all 0.6s ease;
        content: "";
    }
    @media (--phone) {
        display: none;
    }
}

.pageFooterItemIcon {
    padding-top: 5px;
    & svg {
        width: 20px;
        height: 20px;
    }
    & .icon-konvert {
        width: 35px;
        height: 20px;
    }
}

.pageProjectFooter {
    position: relative;
    z-index: 11;
    flex: 0 1 auto;
    padding: 10px 0;
    border-top: 4px solid #2d5647;
    border-bottom: 1px solid #2d5647;
    box: horizontal top space-between;
    @media (--tablet) {
        box: vertical;
    }
}

.pageProjectFooterItem {
    box: vertical top;

    @media (--tablet) {
        margin-bottom: 15px;
    }
}

.pageProjectFooterItemLabel {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 20px;
    text-transform: uppercase;
}

.pageProjectFooterItemValue {
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 20px;
    text-transform: uppercase;
    & strong {
        font-weight: 700 !important;
        font-size: 23px !important;
    }
}

@keyframes hvr-icon-left {
    0%,
    50%,
    100% {
        transform: translateX(0);
    }
    25%,
    75% {
        transform: translateX(6px);
    }
}
.pageFooterSocial {
    box: horizontal;
    & .pageFooterItem {
        margin-right: 25px;
    }
}
.pageFooterItemSocialItem {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 20px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    & svg {
        width: 100%;
        height: 100%;
        & .white {
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
        & .black {
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
    }
    &:hover {
        & .white {
            transform-origin: center center;
            animation-name: blackToWhite;
        }
        & .black {
            animation-name: whiteToblack;
        }
    }
}

@keyframes whiteToblack {
    0% {
        fill: transparent;
    }
    100% {
        fill: #000;
    }
}

@keyframes blackToWhite {
    0% {
        fill: #000;
    }

    100% {
        fill: #fff;
    }
}
