.pageHeader {
    box: horizontal baseline space-between;
    @media (--phone) {
        box: vertical;
        & h1 {
            order: 1;
        }
    }
}

.pageHeaderReward {
    box: vertical top right;
    padding-top: 15px;
    @media (--phone) {
        order: 0;
        margin-bottom: 20px;
        box: vertical top left;
    }
}

.pageHeaderRewardTop {
    margin-bottom: 5px;
    color: #000000;
    font-size: 11px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 11px;
}

.pageHeaderRewardLine {
    width: 75px;
    height: 1px;
    margin-bottom: 5px;
    background-color: #000;
}

.pageHeaderRewardBottom {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 12px;
    text-transform: uppercase;
}
