.pageImage {
    width: 100%;
    aspect-ratio: '9:2';
    & img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (--tablet) {
        aspect-ratio: '6:2';
    }
    @media (--phone) {
        display: none;
    }
}

.pageChartImage {
    & img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
