.pageContent {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 60px 20px;
    box: vertical;
}

.pageRow {
    box: horizontal;
    width: 100%;
    margin-bottom: 15px;
    @media (--tablet) {
        box: vertical;
    }
}

.pageColumn {
    flex: 1 1 auto;
}

.pageSidebar {
    flex: 0 1 auto;
    min-width: 200px;
    margin-left: 60px;
    box: vertical;
    @media (--tablet) {
        padding-top: 50px;
    }
}

.pageChart {
    flex: 0 1 auto;
    min-width: 425px;
    margin-left: 30px;
    box: vertical;
    @media (--phone) {
        min-width: 0;
        margin-left: 0;
    }
}
