.moreInfo {
    flex: 0 1 auto;
    align-self: flex-end;
    margin-top: auto;
    box: vertical;
    & .avatar {
        align-self: flex-end;
    }
}

.moreInfoLink {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    box: horizontal bottom;
    text-decoration: none;
    & svg {
        width: 26px;
        height: 26px;
        margin-bottom: 2px;
        margin-left: 26px;
    }
}
