.pageSlider {
    box: vertical;
}
.pageSlide {
    position: relative;
    aspect-ratio: "5:2";
    @media (--tablet) {
        aspect-ratio: "4:3";
    }
}
.pageSlide img,
.pageSlide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pageSlide img {
    pointer-events: none;
}
.pageSliderControls {
    box: horizontal middle right;
}

.pageSliderControl {
    margin-left: 20px;
    padding: 0;
    color: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 43.11px;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    outline: 0;
}
