.pageContent {
    & h1 {
        margin-bottom: 28px;
        color: #000000;
        font-weight: 700;
        font-size: 45px;
        font-family: "Roboto", sans-serif;
        line-height: 62px;
        text-transform: uppercase;
        @media (--tablet) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    & h3 {
        position: relative;
        display: inline;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        line-height: 26px;
        text-transform: uppercase;
        background-color: #2d5647;
        box-shadow: 2px 0 0 #2d5647, -2px 0 0 #2d5647;
        &:after {
            display: block;
            width: 100%;
            height: 25px;
            content: "";
        }
        @media (--tablet) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    & h4 {
        margin-bottom: 25px;
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 22px;
        text-transform: uppercase;
    }
    & p {
        margin-bottom: 22px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 400;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        line-height: 22px;
    }
    & strong {
        color: #000000;
        font-weight: 400;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        line-height: 22px;
        text-transform: uppercase;
    }
    & time {
        display: block;
        margin-bottom: 22px;
        color: #000000;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        font-style: italic;
        line-height: 26px;
    }
}
