.breadcumbers {
    display: block;
    box: horizontal middle left;
    margin-bottom: 30px;
    @media (--tablet) {
        flex-wrap: wrap;
    }
}

.breadcumbersItem {
    position: relative;
    margin-right: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
}

a.breadcumbersItem {
    &:after {
        padding-left: 5px;
        content: "|";
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}

.breadcumbersLine {
    display: block;
    flex: 0 1 auto;
    width: 160px;
    height: 1px;
    margin-left: 25px;
    background-color: #000;
    @media (--phone) {
        display: none;
    }
}
