.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 70px 20px 150px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
    box: horizontal middle space-between;
    @media (--desktop) {
        padding: 20px 50px 20px 100px;
    }
    @media (--small-desktop) {
        margin-bottom: 0px;
        padding: 20px var(--global-padding);
    }
}
.headerLeft {
    box: horizontal middle space-between;
    flex: 1 1 auto;
}

.headerLogo {
    flex: 0 1 auto;
    height: 41px;
    margin-right: 160px;
    box: vertical middle left;
    & img {
        width: 225px;
        height: 41px;
        @media (--desktop) {
            width: 180px;
            height: auto;
        }
    }
    @media (--big-desktop) {
        margin-right: 40px;
    }
}
.headerMiddle {
    flex: 1 1 auto;
    box: vertical top left;
    padding-top: 22px;
    @media (--small-desktop) {
        width: 0;
        padding-top: 12px;
        pointer-events: none;
    }
    @media (--phone) {
        display: none;
    }
}

.headerMenu {
    box: horizontal middle left;
    flex: 1 1 auto;
    & li {
        margin-right: 20px;
        @media (--desktop) {
            margin-right: 15px;
        }
    }
    & .active {
        & .headerMenuItem {
            &:after {
                width: 100%;
            }
        }
    }
    @media (--small-desktop) {
        opacity: 0 !important;
    }
    @media (--tablet) {
        max-width: 1px;
        overflow: hidden;
    }
    @media (--phone) {
        display: none;
    }
}

.headerMenuItem {
    position: relative;
    display: block;
    height: 20px;
    /* margin-right: 20px; */
    color: #000;
    font-weight: 700;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    /* border-bottom: 3px solid transparent; */
    transition: all 0.4s;
    &:last-child {
        margin-right: 0;
    }
    &:after {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #000;
        transition: all 0.6s ease;
        content: "";
    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
    @media (--desktop) {
        margin-right: 15px;
        font-size: 16px;
    }
}

.headerMenuActive {
    &:after {
        width: 100%;
    }
}
.headerControl {
    box: horizontal middle right;
}

.headerContact {
    margin-right: 75px;
    @media (--tablet) {
        margin-right: 30px;
    }
    @media (--phone) {
        display: none;
    }
}

.headerLang {
    box: vertical top left;
    margin-right: 77px;
    padding-top: 7px;
    @media (--small-desktop) {
        display: none;
    }
}
.headerLangItem {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    font-family: "Cairo", Arial, Helvetica, sans-serif;
    line-height: 14px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    /* &:first-child {
        padding-top: 7px;
        padding-bottom: 0;
    } */
}
.headerLangItemLine {
    width: calc(100% + 6px);
    height: 1px;
    margin-left: -3px;
    background-color: #000;
}

.headerMobileMenuButton {
    display: none;
    @media (--small-desktop) {
        display: block;
    }
}

.headerMenuLevel {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 36px 120px 7px 150px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
    opacity: 0;
    pointer-events: none;
    box: horizontal top;
    @media (--desktop) {
        padding: 36px 120px 7px 100px;
    }
    @media (--tablet) {
        display: none;
    }
}
.headerMenuLevelNext {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 36px 120px 7px 150px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
    opacity: 0;
    pointer-events: none;
    box: horiozntal top;
    @media (--desktop) {
        padding: 36px 120px 7px 100px;
    }
    @media (--tablet) {
        display: none;
    }
}

.headerMenuLevelHeader,
.headerMenuLevelNextHeader {
    margin-right: 50px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 20px;
    text-transform: none;
}
.headerMenuLevelItems,
.headerMenuLevelNextItems {
    flex: 1 1;
    flex-wrap: wrap;
    padding-top: 4px;
    box: horizontal middle center;
}
.headerMenuLevelItem,
.headerMenuLevelNextItem {
    margin-right: 20px;
    margin-bottom: 29px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    /* border-bottom: 3px solid transparent; */
    /* transition: all 0.4s; */
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        font-weight: bold;
    }
    @media (--desktop) {
        margin-right: 15px;
        font-size: 16px;
    }
}
.headerMenuLevelItemActive,
.headerMenuLevelNextItemActive {
    font-weight: 700;
    cursor: default;
}
.headerMenuLevelClose,
.headerMenuLevelNextClose {
    position: absolute;
    top: calc(50% - 16px);
    right: 70px;
    cursor: pointer;
    & svg {
        width: 32px;
        height: 32px;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}
