.mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5000;
    display: none;
    width: 100vw;
    max-width: 600px;
    height: calc(100vh - 88px);
    margin-top: 88px;
    transform: translateX(100vw);
    @media (--small-desktop) {
        display: block;
    }
}

.mobileMenuWrap {
    height: 100%;
    padding: 0px 30px 30px 40px;
    background-color: #fff;
    box: vertical top;
}

.mobileMenuItems {
    position: relative;
    flex: 1 1 auto;
    box: vertical middle left;
    overflow: hidden;
}
.mobileMenuItemChildren {
    width: 100%;
}
.mobileMenuItem {
    width: 100%;
    margin-bottom: 25px;
    color: #010101;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    box: horizontal middle space-between;
    & svg {
        width: 14px;
        height: 14px;
    }
}

.mobileMenuFooter {
    box: horizontal middle space-between;
}

.mobileMenuFooterLeft {
    flex: 1 1 auto;
    box: vertical top left;
}
.mobileSearch {
    width: 100%;
    padding-right: 20px;
}
.mobileSearchInput {
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    border: 0;
    border-bottom: 1px solid #000;
}

.mobileLang {
    box: horizontal top left;
    opacity: 0;
}

.mobileLangItem {
    position: relative;
    margin-right: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    font-family: "Cairo", Arial, Helvetica, sans-serif;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    &:after {
        position: absolute;
        top: 0;
        right: calc(-10px + 0.5px);
        display: block;
        width: 1px;
        height: 14px;
        background-color: #000;
        content: "";
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}

.mobileMenuNext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box: vertical middle left;
    transform: translateX(110%);
    opacity: 0;
    transition: all 0.4s ease;
}
.mobileMenuNextActive {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
}
.mobileMenuNextBack {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 22px;
    & svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        transform: rotate(180deg);
    }
}
.mobileMenuNextHeader {
    margin-bottom: 25px;
    color: #010101;
    font-weight: 700;
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 22px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
}

.mobileMenuNextItem {
    margin-bottom: 25px;
    color: #010101;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
}
