.headerSearchButton {
    width: 35px;
    height: 20px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #000;
    box: vertical top center;
    @media (--phone) {
        display: none;
    }
}
.buttonSearch {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    box: vertical middle center;
    & svg {
        width: 20px;
        height: 20px;
    }
    &:hover {
        animation-name: hvr-icon-up;
        animation-duration: 0.75s;
        animation-timing-function: ease-out;
    }
}

.buttonSearchClose {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0;
    box: vertical middle center;
    & svg {
        width: 20px;
        height: 20px;
        transition: all 0.3s ease;
    }
    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}

.headerSearch {
    /* position: absolute; */
    width: calc(100% - 40px);
    opacity: 0;
    pointer-events: none;
}

.headerSearchInput {
    width: 100%;
    padding: 0 5px;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    border-bottom: 1px solid #000;
}

@keyframes hvr-icon-up {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25%,
    75% {
        transform: translateY(-6px);
    }
}
