extends _layout

block content
    .mainPage
        .mainPageRow
            .mainHeader
                h1 Международная группа Спектрум
                p Группа компаний Спектрум является многопрофильным инжиниринговым холдингом с опытом реализации объектов различного назначения.
            .mainNews
                a(href="#" data-scroll).mainNewsItem
                    .mainNewsItemHeader
                        h2 ПОСЛЕДНИЕ НОВОСТИ
                        .mainNewsItemHeaderLine
                    p Строительную площадку проекта РосАгроМаркета посетил губернатор Новосибирской области Андрей Травников.
                    .mainNewsItemIcon
                        +svgIcon('icon-circle-arrow')
                a(href="#" data-scroll).mainNewsItem
                    .mainNewsItemHeader
                        h2 ПОСЛЕДНИЕ НОВОСТИ
                        .mainNewsItemHeaderLine
                    p Строительную площадку проекта РосАгроМаркета посетил губернатор Новосибирской области Андрей Травников.
                    .mainNewsItemIcon
                        +svgIcon('icon-circle-arrow')

        .sliderMain.glide.slider-js
            .glide__track(data-glide-el='track')
                .glide__slides
                    .glide__slide.slide.slide-one
                        .slideWrap
                            .slidePhoto
                                img(src="img/slide_photo.jpg")
                    .glide__slide.slide.slide-two
                        .slideWrap
                            .slidePhoto
                                img(src="img/slide_photo2.jpg")
                    .glide__slide.slide.slide-three
                        .slideWrap
                            .slidePhoto
                                img(src="img/slide_photo3.jpg")
                   
                    

            .glide__bullets(data-glide-el='controls[nav]')
                button.glide__bullet(data-glide-dir='=0')
                    <svg width="60" height="60" viewBox="0 0 60 60">
                        <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                        <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                    </svg>

                button.glide__bullet(data-glide-dir='=1')
                    <svg width="60" height="60" viewBox="0 0 60 60">
                        <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                        <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                    </svg>
                button.glide__bullet(data-glide-dir='=2')
                    <svg width="60" height="60" viewBox="0 0 60 60">
                        <circle class="pie2" cx="30" cy="30" r="28" stroke="#000" stroke-width="3"/>
                        <circle class="pie1" cx="30" cy="30" r="15" fill="#000"/>
                    </svg>