extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .pageRow
            .pageColumn(data-scroll)
                .breadcumbers
                    a(href="#").breadcumbersItem
                        | ЦИФРОВЫЕ ПРОДУКТЫ ЖИЗНЕННОГО ЦИКЛА 
                    .breadcumbersItem
                        | BIM-МЕНЕДЖМЕНТ
                    .breadcumbersLine

                h1 BIM-МЕНЕДЖМЕНТ
                h3 Проектирование на сегодняшний день – самое крупное бизнес-направление в ГК «Спектрум». Команда БН «Проектирование»  объединила более 140 профессионалов высокого уровня: архитекторов, конструкторов, инженеров, технологов, менеджеров по проектированию.
                p В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 

                p Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженерных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.

                h4 AREAS OF EXPERTISE

                p 
                    strong Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженерных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.

            .pageSidebar
                .moreInfo(data-scroll)
                    .avatar
                        img(src='img/avatar.png')
                    a(href="#").moreInfoLink
                        | Поговорить <br/>об этом технологие
                        +svgIcon('icon-circle-arrow')
        include block/page_footer
    include block/project