extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .breadcumbers(data-scroll)
            a(href="#").breadcumbersItem
                | ЦИФРОВЫЕ ПРОДУКТЫ ЖИЗНЕННОГО ЦИКЛА 
            .breadcumbersItem
                | BIM-МЕНЕДЖМЕНТ
            .breadcumbersLine
        .pageHeader(data-scroll)
            h1 АэропорТ ТОлмачево
            .pageHeaderReward
                .pageHeaderRewardTop
                    | Награда
                .pageHeaderRewardLine
                .pageHeaderRewardBottom
                    | EUROPEAN PROPERTY AWARDS 2015
        .pageSlider.glide(data-scroll)
            .glide__track(data-glide-el='track')
                .glide__slides
                    .glide__slide.slide
                        .pageSlide
                            img(src="img/slide_photo.jpg")
                    .glide__slide.slide
                        .pageSlide
                            img(src="img/slide_photo2.jpg")
                    .glide__slide.slide
                        .pageSlide
                            video(preload="metadata" controls="" width="500")
                                source(src="https://dump.video/i/AODv08.mp4" type="video/mp4")
            .pageSliderControls(data-glide-el='controls[nav]')
                button.pageSliderControl(data-glide-dir='=0') Photo #1
                button.pageSliderControl(data-glide-dir='=1') Photo #2
                button.pageSliderControl(data-glide-dir='=2') Photo #3
        .pageRow(data-scroll)
            .pageColumn
                p В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 

                p Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженерных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.

            .pageSidebar
                .moreInfo
                    .avatar
                        img(src='img/avatar.png')
                    a(href="#").moreInfoLink
                        | Поговорить <br/>об этом технологие
                        +svgIcon('icon-circle-arrow')
        .pageProjectFooter(data-scroll)
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                .pageProjectFooterItemValue 
                    strong 9 200 
                    | кв.М
            .pageProjectFooterItem
                .pageProjectFooterItemLabel БЮДЖЕТ:
                .pageProjectFooterItemValue
                    strong 9 200 000 
                    | ₽
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ЛОКАЦИЯ:
                .pageProjectFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ЗАКАЗЧИК:
                .pageProjectFooterItemValue Novaport
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ПРОДУКТЫ:
                .pageProjectFooterItemValue.
                    ГЕНЕРАЛЬНЫЙ ПРОЕКТИРОВЩИК <br/>
                    Банковский консалтинг <br/>
                    Жилая недвижимость
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ГОД:
                .pageProjectFooterItemValue 2018

    include block/project