extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .breadcumbers
            a(href="#").breadcumbersItem
                | ПРОЕКТЫ АЭРОПОРТ
            .breadcumbersItem
                | УПРАВЛЕНИЕ КАЧЕСТВОМ
            .breadcumbersLine
        .projectCards
            .projectCard(data-scroll)
                .projectCardImage
                    img(data-src='img/item.jpg')
                .projectCardInfo
                    .projectCardHeader
                        | АэропорТ <br /> ТОлмачево
                    .projectCardFooter
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                            .projectCardFooterItemValue 
                                strong 9 200 
                                | кв.М
                        .projectCardFooterItem
                            .projectCardFooterItemLabel БЮДЖЕТ:
                            .projectCardFooterItemValue __
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ЛОКАЦИЯ:
                            .projectCardFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .projectCard(data-scroll)
                .projectCardImage
                    img(data-src='img/item.jpg')
                .projectCardInfo
                    .projectCardHeader
                        | АэропорТ <br /> ТОлмачево
                    .projectCardFooter
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                            .projectCardFooterItemValue 
                                strong 9 200 
                                | кв.М
                        .projectCardFooterItem
                            .projectCardFooterItemLabel БЮДЖЕТ:
                            .projectCardFooterItemValue __
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ЛОКАЦИЯ:
                            .projectCardFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .projectCard(data-scroll)
                .projectCardImage
                    img(data-src='img/item.jpg')
                .projectCardInfo
                    .projectCardHeader
                        | АэропорТ <br /> ТОлмачево
                    .projectCardFooter
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                            .projectCardFooterItemValue 
                                strong 9 200 
                                | кв.М
                        .projectCardFooterItem
                            .projectCardFooterItemLabel БЮДЖЕТ:
                            .projectCardFooterItemValue __
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ЛОКАЦИЯ:
                            .projectCardFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .projectCard(data-scroll)
                .projectCardImage
                    img(data-src='img/item.jpg')
                .projectCardInfo
                    .projectCardHeader
                        | АэропорТ <br /> ТОлмачево
                    .projectCardFooter
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                            .projectCardFooterItemValue 
                                strong 9 200 
                                | кв.М
                        .projectCardFooterItem
                            .projectCardFooterItemLabel БЮДЖЕТ:
                            .projectCardFooterItemValue __
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ЛОКАЦИЯ:
                            .projectCardFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .projectCard(data-scroll)
                .projectCardImage
                    img(data-src='img/item.jpg')
                .projectCardInfo
                    .projectCardHeader
                        | АэропорТ <br /> ТОлмачево
                    .projectCardFooter
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                            .projectCardFooterItemValue 
                                strong 9 200 
                                | кв.М
                        .projectCardFooterItem
                            .projectCardFooterItemLabel БЮДЖЕТ:
                            .projectCardFooterItemValue __
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ЛОКАЦИЯ:
                            .projectCardFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .projectCard(data-scroll)
                .projectCardImage
                    img(data-src='img/item.jpg')
                .projectCardInfo
                    .projectCardHeader
                        | АэропорТ <br /> ТОлмачево
                    .projectCardFooter
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                            .projectCardFooterItemValue 
                                strong 9 200 
                                | кв.М
                        .projectCardFooterItem
                            .projectCardFooterItemLabel БЮДЖЕТ:
                            .projectCardFooterItemValue __
                        .projectCardFooterItem
                            .projectCardFooterItemLabel ЛОКАЦИЯ:
                            .projectCardFooterItemValue ВОЛГОГРАД (РОССИЯ)
        .projectLink
            .projectLinkHeader(data-scroll)
                h2 
                    | ДРУГИЕ ПРОЕКТЫ АЭРОПОРТ
                .projectsHeaderLine
            .projectLinkItems
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево
                a(href="#" data-scroll).projectLinkItem  
                    span АэропорТ ТОлмачево

    .projectHeader География проектов

    .projectMap(data-scroll)
        span 
        #projectMap

    script.
        const mapMarkers = [
                {
                    id: 0,
                    latitude: 44.0,
                    longitude: 41.0,
                    name: "Аэропорт <br/> Толмачево",
                    image: "img/item.jpg"
                },
                {
                    id: 1,
                    latitude: 41.0,
                    longitude: 44.0,
                    name: "Аэропорт Толмачево2",
                    image: "img/item.jpg"
                }
            ]
