extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .breadcumbers(data-scroll)
            a(href="#").breadcumbersItem
                | ЦИФРОВЫЕ ПРОДУКТЫ ЖИЗНЕННОГО ЦИКЛА 
            .breadcumbersItem
                | BIM-МЕНЕДЖМЕНТ
            .breadcumbersLine

        .pageRow
            .pageColumn(data-scroll)
                h1 АэропорТ ТОлмачево
                p В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 

                p Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженерных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.

            .pageSidebar
                .moreInfo(data-scroll)
                    .avatar
                        img(src='img/avatar.png')
                    a(href="#").moreInfoLink
                        | Поговорить <br/>об этом технологие
                        +svgIcon('icon-circle-arrow')
        .pageProjectFooter(data-scroll)
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ОБЩАЯ ПЛОЩАДЬ:
                .pageProjectFooterItemValue 
                    strong 9 200 
                    | кв.М
            .pageProjectFooterItem
                .pageProjectFooterItemLabel БЮДЖЕТ:
                .pageProjectFooterItemValue
                    strong 9 200 000 
                    | ₽
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ЛОКАЦИЯ:
                .pageProjectFooterItemValue ВОЛГОГРАД (РОССИЯ)
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ЗАКАЗЧИК:
                .pageProjectFooterItemValue Novaport
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ПРОДУКТЫ:
                .pageProjectFooterItemValue.
                    ГЕНЕРАЛЬНЫЙ ПРОЕКТИРОВЩИК <br/>
                    Банковский консалтинг <br/>
                    Жилая недвижимость
            .pageProjectFooterItem
                .pageProjectFooterItemLabel ГОД:
                .pageProjectFooterItemValue 2018

    include block/project