extends _layout

block content

    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .breadcumbers(data-scroll)
            a(href="#").breadcumbersItem
                | ЦИФРОВЫЕ ПРОДУКТЫ ЖИЗНЕННОГО ЦИКЛА 
            .breadcumbersItem
                | BIM-МЕНЕДЖМЕНТ
            .breadcumbersLine


        .pageRow
            .pageColumn(data-scroll)
                h1 АэропорТ ТОлмачево

                h3 Проектирование на сегодняшний день – самое крупное бизнес-направление в ГК «Спектрум». Команда БН «Проектирование»  объединила более 140 профессионалов высокого уровня: архитекторов, конструкторов, инженеров, технологов, менеджеров по проектированию.

                p В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 

                p Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженер    ных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.
                .pageDataCharts(data-scroll)
                    .pageDataChartItem
                        .pageDataChartValue 5
                        .pageDataChartLabel бизнес-направлений
                    .pageDataChartItem
                        .pageDataChartValue 350
                        .pageDataChartLabel человек в команде
                    .pageDataChartItem
                        .pageDataChartValue 4
                        .pageDataChartLabel офиса в Москве, <br/> Берлине, Санкт&#8209;Петербурге,<br/> Новосибирске
                    .pageDataChartItem
                        .pageDataChartValue 8
                        .pageDataChartLabel удаленных офисов на строительных площадках
                .pageFooter(data-scroll)
                    a(href="mailto:dd@dd.ru").pageFooterItem
                        .pageFooterItemText Отправить письмо
                        .pageFooterItemIcon
                            +svgIcon('icon-konvert')
                    a(href="#").pageFooterItem
                        .pageFooterItemText Поделиться 
                        .pageFooterItemIcon
                            +svgIcon('icon-share')
            .pageChart
                .pageChartImage(data-scroll)
                    img(src="img/chart.jpg")