extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .pageRow
            .pageColumn(data-scroll)
                .breadcumbers
                    a(href="#").breadcumbersItem
                        | ЦИФРОВЫЕ ПРОДУКТЫ ЖИЗНЕННОГО ЦИКЛА 
                    .breadcumbersItem
                        | BIM-МЕНЕДЖМЕНТ
                    .breadcumbersLine

                h1 BIM-МЕНЕДЖМЕНТ
                h3 Проектирование на сегодняшний день – самое крупное бизнес-направление в ГК «Спектрум». Команда БН «Проектирование»  объединила более 140 профессионалов высокого уровня: архитекторов, конструкторов, инженеров, технологов, менеджеров по проектированию.
                p В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 

                p Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженерных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.

                h4 AREAS OF EXPERTISE

                p 
                    strong Специалисты ГК «Спектрум» очень внимательно относятся к каждому объекту, прорабатывают возможные варианты и всегда обосновано делают выбор объемно-планировочных и инженерных решений с учетом целей и задач клиента, финансовой составляющей, функциональных требований, понимая, что именно они создают основу ценности будущего актива.

            .pageSidebar
                .moreInfo(data-scroll)
                    .avatar
                        img(src='img/avatar.png')
                    a(href="#").moreInfoLink
                        | Поговорить <br/>об этом технологие
                        +svgIcon('icon-circle-arrow')
        .pageFooter(data-scroll)
            .pageFooterSocial
                .pageFooterItem
                    .pageFooterItemText Поделиться 
                    .pageFooterItemIcon
                        +svgIcon('icon-share')
                a(href="#").pageFooterItemSocialItem
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                        <circle class="black" cx="50" cy="50" r="48" fill="transparent" stroke="#000" stroke-width="4"/>
                        <path class="white" fill="#000" d="M53.5 40.2v-4.1c0-1.9 1.3-2.4 2.2-2.4h5.7V25h-7.8C44.9 25 43 31.4 43 35.6v4.6h-5v10.1h5.1v25.3h10.1V50.3h7.5l.3-4 .6-6.1h-8.1z"/>
                    </svg>
                a(href="#").pageFooterItemSocialItem
                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                            <circle class="black" stroke="#000" stroke-width="4" cx="48" cy="48" r="48"/>
                            <path class="white" d="M25.5 48.1V70h10.4V40.3H25.5v7.8zm44.4 1.3c-.7-5.6-3.3-9.2-10.9-9.2-4.5 0-7.5 1.6-8.7 4h-.1v-4h-8.3V70h8.7V55.2c0-3.9.8-7.6 5.5-7.6 4.8 0 5.2 4.4 5.2 7.9V70h8.9V53.6c0-1.5-.1-2.9-.3-4.2zM30.7 25.3a5.2 5.2 0 0 0-5.2 5.2c0 2.9 2.3 5.2 5.2 5.2 2.9 0 5.2-2.3 5.2-5.2 0-2.8-2.3-5.2-5.2-5.2z" fill="#000" fill-rule="nonzero"/>
                        </g>
                    </svg>

                a(href="#").pageFooterItemSocialItem
                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                            <circle class="black" stroke="#000" stroke-width="4" cx="48" cy="48" r="48"/>
                            <path class="white" d="M72.7 37.1s-.5-3.6-2-5.2c-1.9-2.1-4.1-2.1-5-2.2-7.1-.5-17.7-.5-17.7-.5h-.1s-10.6 0-17.7.5c-1 .1-3.2.2-5.1 2.2-1.5 1.6-2 5.2-2 5.2s-.5 4.3-.5 8.5v4c0 4.3.5 8.5.5 8.5s.5 3.6 2 5.3c1.9 2.1 4.4 2 5.6 2.2 4 .4 17.2.5 17.2.5s10.6-.1 17.7-.5c1-.1 3.1-.1 5-2.2 1.5-1.6 2-5.3 2-5.3s.5-4.2.5-8.5v-4.1c.1-4.1-.4-8.4-.4-8.4zm-16.3 10l-13.7 7.4V39.6l6.2 3.4 7.5 4.1z" fill="#000" fill-rule="nonzero"/>
                        </g>
                    </svg>
                a(href="#").pageFooterItemSocialItem
                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                            <circle class="black"stroke="#000" stroke-width="4" cx="48" cy="48" r="48"/>
                            <path class="white" d="M37.7 32.1H26.9l6.4 11.2-8.5 14.1h10.8L44 43.3l-6.3-11.2zm21.9-9L42.6 53l11 19.3H65L54.1 53l17-29.9H59.6z" fill="#000" fill-rule="nonzero"/>
                        </g>
                    </svg>

    include block/project
    .news
        .newsHeader(data-scroll)
            h2 
                | НОВОСТИ
            .projectsHeaderLine
        .newsCards(data-scroll)
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            | 12.04.2019
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | на территории нового аэропортового комплекса «Гагарин» в Саратове в честь Дня Космонавтики заложена Аллея космонавтов.
                .newsCardLine
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            | 12.04.2019
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | на территории нового аэропортового комплекса «Гагарин» в Саратове в честь Дня Космонавтики заложена Аллея космонавтов.
                .newsCardLine
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            | 12.04.2019
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | на территории нового аэропортового комплекса «Гагарин» в Саратове в честь Дня Космонавтики заложена Аллея космонавтов.
                .newsCardLine