extends _layout

block content

    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .breadcumbers(data-scroll)
            .breadcumbersItem
                | УПРАВЛЕНИЕ КАЧЕСТВОМ
            .breadcumbersLine


        .contact
            .contactCards
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
