extends _layout

block content

    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .address(data-scroll)
            .addressContent
                h1 МОСКВА
                p
                    a(href="#") +7 (495) 981-6888 
                    | 105005, г.Москва, Набережная имени Академика Туполева 
                    | дом 15, корпус 29, этаж 4 и 8  
                    a(href="#") INFO@SPECTRUM-group.ru
            .addressMap
                #addressMap

        .breadcumbers(data-scroll)
            .breadcumbersItem
                | УПРАВЛЕНИЕ КАЧЕСТВОМ
            .breadcumbersLine
        .contact
            .contactCards
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
                include block/contact-card.pug
