doctype
html(lang="ru")
    head
        title Spectrim
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width user-scalable=1.0")
        link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
        link(type="text/css" href="css/main.css" rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400i,700&display=swap&subset=cyrillic' rel='stylesheet')
        
        // META
        meta(property="og:title" content="Spectrum")
        meta(property="og:site_name" content=" ГК «Спектрум»")
        meta(property="og:url" content="spectrum.ru")
        meta(property="og:description" content="В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших ")
        meta(property="og:type" content="website")
        meta(property="og:image" content="http://spectrum.ru/og.jpg")




    body


        include _svg.pug

        .pageWrapper
            .cookies
                .cookiesWrap
                    h5 Cookies & ДАННЫЕ
                    p Этот сайт использует куки. При дальнейшем использовании вы соглашаетесь на использование куки. Политика конфиденциальности.
                    button.cookiesButton СОГЛАСЕН
            include block/menu.pug
            include block/header
            block content
        include block/footer




        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGPVIGSPYTx4tNNzPsbeW3uHknwWnA9g0")
        script(src="js/app.js")
