extends _layout

block content

    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        .breadcumbers(data-scroll)
            .breadcumbersItem
                | УПРАВЛЕНИЕ КАЧЕСТВОМ
            .breadcumbersLine

        .pageRow
            .pageColumn(data-scroll)
                h1 BIM-МЕНЕДЖМЕНТ

               

                p В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 

        .managment
            .managmentCards
                include block/managment-card.pug
                include block/managment-card.pug
                include block/managment-card.pug
                include block/managment-card.pug
                include block/managment-card.pug
                include block/managment-card.pug
                
                