extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        
        .breadcumbers
                a(href="#").breadcumbersItem
                    | НОВОСТИ
                .breadcumbersItem
                    | 2019
                .breadcumbersLine
        .newsPage
            .newsPageHeader
                h1 12 апреля 2019 на территории нового аэропортового комплекса «Гагарин» в Саратове в честь Дня Космонавтики заложена Аллея космонавтов.
            .pageRow
                .newsPageColumn
                    time 17 Апр. 2019
                    p 12 апреля 2019 на территории нового аэропортового комплекса «Гагарин» в Саратове в честь Дня Космонавтики заложена Аллея космонавтов.

                    p Памятную доску на аллее открыла первая женщина-космонавт Валентина Терешкова. В праздничных мероприятиях, которые прошли сегодня в регионе, принимает участие делегация Государственной Думы и ее спикер Вячеслав Володин. Посещение аэропорта «Гагарин» - один из главных пунктов программы, а его ввод в эксплуатацию состоится уже в этом году, к 1му сентября!

                    p Команда Спектрума приняла участие в мероприятии. Спектрум управляет строительством аэропорта, а ранее выполнил проектирование Международного аэропорта «Гагарин», на территории которого теперь есть Аллея космонавтов. Позже на Аллее будут устанавливаться памятные знаки в честь космонавтов, посетивших аэропорт.

                .newsPageSidebar
                    .newsPageImages
                        img(src="img/slide_photo.jpg")
                        img(src="img/slide_photo.jpg")
                    
                    

        
    .news
        .newsHeader(data-scroll)
            h2 
                | АРХИВ НОВОСТЕЙ
            .projectsHeaderLine
        .newsCards.newsCardsGreen(data-scroll)
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | Новости и события
                        span 2018 год
                .newsCardLine
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | Новости и события
                        span 2018 год
                .newsCardLine
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | Новости и события
                        span 2018 год
                .newsCardLine
            