extends _layout

block content
    .pageImage
        img(src="img/slide_photo.jpg")
    .pageContent
        
        .breadcumbers
                a(href="#").breadcumbersItem
                    | НОВОСТИ
                .breadcumbersItem
                    | 2019
                .breadcumbersLine
        .newsList
            .newsListItem(data-scroll)
                a(href="#").newsListItemHeader
                    | АЭРОПОРТ ТОЛМАЧЕВО РАСПАХНУЛ СВОИ ДВЕРИ ДЛЯ ВСЕ ПАССАЖИРОВ
                .newsListItemDate
                    | 17 Апр. 2019
                .newsListItemText 
                    | В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 
            .newsListItem(data-scroll)
                a(href="#").newsListItemHeader
                    | АЭРОПОРТ ТОЛМАЧЕВО РАСПАХНУЛ СВОИ ДВЕРИ ДЛЯ ВСЕ ПАССАЖИРОВ
                .newsListItemDate
                    | 17 Апр. 2019
                .newsListItemText 
                    | В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 
            .newsListItem(data-scroll)
                a(href="#").newsListItemHeader
                    | АЭРОПОРТ ТОЛМАЧЕВО РАСПАХНУЛ СВОИ ДВЕРИ ДЛЯ ВСЕ ПАССАЖИРОВ
                .newsListItemDate
                    | 17 Апр. 2019
                .newsListItemText 
                    | В своем развитии ГК «Спектрум» прошла путь от проектирования простых с точки зрения конструктива объектов торговли, где приоритетом являются технология и сокращение сроков проектирования, и небольших объектов производственного назначения до больших концептуальных проектов – сложных как с архитектурной, так и с инженерной точки зрения сооружений и уникальных зданий. 
                    

        
    .news
        .newsHeader(data-scroll)
            h2 
                | АРХИВ НОВОСТЕЙ
            .projectsHeaderLine
        .newsCards.newsCardsGreen(data-scroll)
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | Новости и события
                        span 2018 год
                .newsCardLine
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | Новости и события
                        span 2018 год
                .newsCardLine
            a(href="#").newsCard
                .newsCardRow
                    .newsCardSidebar
                        time.newsCardData
                            
                        .newsCardIcon
                            +svgIcon('icon-people')
                    .newsCardContent
                        | Новости и события
                        span 2018 год
                .newsCardLine
            