.newsCards {
    flex-wrap: wrap;
    margin-bottom: 40px;
    box: horizontal;
}
.newsCardsGreen {
    & .newsCardContent {
        color: #2d5647;
    }
    & .newsCardLine {
        background-color: #2d5647;
    }
}
.newsCard {
    position: relative;
    padding: 35px 22px;
    text-decoration: none;
    cursor: pointer;
    lost-column: 1/3 3 25px flex;
    transition: all 0.4s ease;
    &:hover {
        box-shadow: 0 0 40px rgba(98, 98, 98, 0.11);
    }
    @media (--phone) {
        lost-column: 1/1 1 25px flex;
        padding: 35px 0px;
    }
}

.newsCardRow {
    box: horizontal;
    margin-bottom: 20px;
}

.newsCardData {
    color: #000000;
    font-weight: 700;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
}
.newsCardSidebar {
    box: vertical space-between left;
    flex: 0 1 auto;
    margin-right: 20px;
}

.newsCardIcon {
    & svg {
        width: 26px;
        height: 26px;
    }
}

.newsCardContent {
    flex: 1 1 auto;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    box: vertical;
    & span {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
    }
    @media (--phone) {
        font-size: 14px;
        line-height: 18px;
    }
}

.newsCardLine {
    width: 100%;
    height: 3px;
    background-color: #000;
}
