.news {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 0px 20px 60px;
}

.newsHeader {
    margin-bottom: 30px;
    box: horizontal middle;
    & h2 {
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 14px;
        text-transform: uppercase;
    }
    & .projectsHeaderLine {
        display: block;
        width: 160px;
        height: 1px;
        margin-left: 25px;
        background-color: #000;
    }
    @media (--phone) {
        margin-bottom: 10px;
    }
}
