.newsList {
    box: vertical;
}
.newsListItem {
    margin-bottom: 60px;
    padding-bottom: 35px;
    border-bottom: 5px solid #2d5647;
    box: vertical;
}
.newsListItemHeader {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    line-height: 20.27px;
    text-transform: uppercase;
    text-decoration: underline;
}

.newsListItemDate {
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 26px;
}

.newsListItemText {
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
}
