.newsPageColumn {
    lost-column: 1/2 60px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
    }
}

.newsPageSidebar {
    lost-column: 1/2 2 60px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
    }
}
.newsPageImages {
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
