.footer {
    display: block;
    box: vertical;
    flex: 0 1 auto;
}

.footerLine {
    flex-wrap: wrap;
    padding: 15px var(--global-padding);
    box: horizontal;
    background-color: #cecece;
}

.footerBody {
    flex-wrap: wrap;
    padding: 15px var(--global-padding);
    background-color: #e5e5e5;
    box: horizontal;
}

.footerLogo {
    margin-right: 100px;
    & img {
        width: 162px;
        height: 29px;
    }
    @media (--tablet) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.footerSlogan {
    & svg {
        width: 255px;
        height: 17px;
    }
}

.footerLeft {
    lost-column: 1/2 2 60px flex;
    box: horizontal middle;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
    @media (--tablet) {
        box: vertical top left;
    }
}

.footerRight {
    lost-column: 1/2 2 60px flex;
    @media (--tablet) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 40px;
    }
}

.footerLeftTop {
    color: #000000;
    font-weight: 700;
    font-size: 54px;
    font-family: "Cairo", Arial, Helvetica, sans-serif;
    line-height: 61.82px;
    text-transform: uppercase;
    @media (--phone) {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 40px;
    }
}
.footerLeftBottom {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box: horizontal middle space-between;
    & a {
        margin-right: 15px;
        color: #000000;
    }
}
.footerRightTop {
    box: horizontal middle space-between;
    flex-wrap: wrap;
    @media (--phone) {
        box: vertical top left;
    }
}
.footerMenu {
    box: horizontal middle right;
    & a {
        margin-right: 15px;
        color: #000;
        font-weight: 700;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 11px;
        white-space: nowrap;
        text-decoration: none;
        &:after {
            padding-left: 15px;
            content: "|";
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        @media (--tablet) {
            margin-right: 0;
            margin-bottom: 20px;
            &:after {
                display: none;
            }
        }
    }
    @media (--tablet) {
        box: vertical top left;
    }
}

.footerText {
    margin-bottom: 29px;
    padding: 24px 0 27px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    font-family: "Cairo", Arial, Helvetica, sans-serif;
    line-height: 33.82px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
}

.footerCopyright {
    color: #959595;
    font-weight: 400;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    box: horizontal middle space-between;
}
