.mainHeader {
    margin-top: 20px;
    lost-column: 1/2 2 30px 2 flex;
    & h1 {
        margin-bottom: 15px;
        color: #000000;
        font-weight: 700;
        font-size: 32px;
        font-family: "Roboto", sans-serif;
        line-height: 42px;
        @media (--desktop) {
            margin-bottom: 15px;
        }
        @media (--tablet) {
            margin-bottom: 15px;
            font-size: 30px;
            line-height: 40px;
        }
    }
    & p {
        max-width: 470px;
        color: #000000;
        font-weight: 400;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        line-height: 24px;
        @media (--tablet) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    @media (--tablet) {
        lost-column: 1/1 1 0px 2 flex;
        margin-top: 20px;
        /* margin-bottom: 50px; */
    }
}
