.mainNews {
    position: relative;
    z-index: 30;
    width: 100%;
    padding-top: 50px;
    /* margin-top: -50px; */
    /* padding: 0 var(--global-padding); */
    box: horizontal middle right;
    lost-column: 1/2 2 30px 2 flex;
    @media (--small-desktop) {
        margin-top: 0;
        margin-bottom: 70px;
        margin-left: -25px;
        /* padding: 20px var(--global-padding); */
        box: horizontal middle left;
    }
    @media (--tablet) {
        order: 1;
        margin: 0;
        padding-top: 20px;
        lost-column: 1/1 1 0px 2 flex;
        box: vertical;
    }
}

.mainNewsItem {
    position: relative;
    z-index: 30;
    align-self: stretch;
    width: 400px;
    margin-right: 50px;
    padding: 34px 26px;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.4s;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        box-shadow: 0 0 40px rgba(98, 98, 98, 0.11);
    }
    & p {
        width: calc(100% - 50px);
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        line-height: 21.82px;
    }
    @media (--big-desktop) {
        width: 320px;
        margin-right: 15px;
        padding: 24px 15px;
    }
    @media (--small-desktop) {
        width: 400px;
    }
    @media (--tablet) {
        margin-bottom: 20px;
    }
    @media (--phone) {
        width: 100%;
    }
}
.mainNewsItemHeader {
    box: horizontal middle;
    margin-bottom: 23px;
    & h2 {
        margin-right: 45px;
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 14px;
        text-transform: uppercase;
    }
    & .mainNewsItemHeaderLine {
        flex: 1 1 auto;
        height: 1px;
        background-color: #000;
    }
}

.mainNewsItemIcon {
    position: absolute;
    right: 26px;
    bottom: 34px;
    & svg {
        width: 26px;
        height: 26px;
    }
}
