.projectCards {
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 40px;
    box: horizontal;
}

.projectCard {
    position: relative;
    lost-column: 1/3 3 3px flex;
    aspect-ratio: "16:9";
    margin-bottom: 3px;
    cursor: pointer;
    @media (--tablet) {
        lost-column: 1/2 2 3px flex;
    }
    @media (--phone) {
        lost-column: 1/1 1 3px flex;
    }
}
.projectCard:hover {
    & .projectCardInfo {
        opacity: 1;
    }
}
.projectCardImage {
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.projectCardInfo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 22px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box: vertical;
    opacity: 0;
    transition: all 0.4s ease;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.8;
        content: "";
    }
}

.projectCardHeader {
    position: relative;
    z-index: 11;
    flex: 1 1 auto;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    box: vertical middle left;
}

.projectCardFooter {
    position: relative;
    z-index: 11;
    flex: 0 1 auto;
    padding: 10px 0;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    box: horizontal middle space-between;
}

.projectCardFooterItem {
    box: vertical top;
}

.projectCardFooterItemLabel {
    font-weight: 700;
    font-size: 11px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 20px;
    text-transform: uppercase;
}

.projectCardFooterItemValue {
    font-weight: 400;
    font-size: 11px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    line-height: 20px;
    text-transform: uppercase;
    & strong {
        font-weight: 700;
        font-size: 17px;
    }
}
