.projectLinkHeader {
    margin-bottom: 30px;
    box: horizontal middle;
    & h2 {
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 14px;
        text-transform: uppercase;
    }
    & .projectsHeaderLine {
        display: block;
        width: 160px;
        height: 1px;
        margin-left: 25px;
        background-color: #000;
    }
}

.projectLinkItems {
    /* box: horizontal;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (--tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (--phone) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projectLinkItem {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    & span {
        border-bottom: 1px solid #000;
        transition: all 0.4s;
    }
    &:hover {
        & span {
            border-bottom-color: transparent;
        }
    }
}
