.projectHeader {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 20px var(--global-padding);
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    line-height: 62px;
    text-align: center;
    @media (--tablet) {
        font-size: 26px;
        line-height: 32px;
    }
    @media (--phone) {
        display: none;
    }
}
.projectMap {
    width: 100%;
    aspect-ratio: '5:2';
    @media (--tablet) {
        aspect-ratio: '4:4';
    }
    @media (--phone) {
        display: none;
    }
}

#projectMap {
    width: 100%;
    height: 100%;
}

.mapInfoWindow {
    box: vertical top;
    padding: 10px;
}

.infoWindowImage {
    width: 244px;
    height: 144px;
    margin-bottom: 10px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.infoWindowTitle {
    margin-bottom: 10px;
    padding: 5px 0;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    line-height: 20.27px;
    text-transform: uppercase;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
}

.infoWindowClose {
    align-self: center;
    cursor: pointer;
    & svg {
        width: 23px;
        height: 23px;
        transition: all 0.4s;
    }
    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}

.gm-style .gm-style-iw-c {
    padding: 0 !important;
    border-radius: 0 !important;
    & button {
        display: none !important;
    }
}
.gm-style-iw-d {
    overflow: hidden !important;
}
