.projectSlideWrap {
    width: 100%;
    text-decoration: none;
    box: vertical top;
    &:hover {
        & .projectSlideImage img {
            transform: scale(1.07);
        }
    }
}

.projectSlideImage {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    aspect-ratio: '4:3';
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
        pointer-events: none;
    }
}

.projectSlideRow {
    margin-bottom: 40px;
    padding: 0 10px;
    box: horizontal;
}

.projectSlideText {
    flex: 1 1 auto;
    & h3 {
        color: #000000;
        font-weight: 700;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        line-height: 20px;
        text-transform: uppercase;
    }
    & p {
        color: #000000;
        font-weight: 400;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        line-height: 22px;
    }
}

.projectSlideSidebar {
    align-self: flex-end;
    & svg {
        width: 26px;
        height: 26px;
    }
}
