.projects {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 0px 20px 60px;
}

.projectsHeader {
    margin-bottom: 30px;
    box: horizontal middle;
    & h2 {
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 14px;
        text-transform: uppercase;
    }
    & .projectsHeaderLine {
        display: block;
        width: 160px;
        height: 1px;
        margin-left: 25px;
        background-color: #000;
    }
}
.projectSlider {
    @media (--desktop) {
        padding-top: 30px;
    }
}
.projectSliderArrows {
    position: absolute;
    top: calc(50% - 18.5px);
    width: 100%;
    box: horizontal middle space-between;
    @media (--desktop) {
        top: -20px;
        box: horizontal middle right;
    }
}

.projectSliderArrowLeft {
    transform: translateX(-70px);
    cursor: pointer;
    & svg {
        width: 41px;
        height: 37px;
        transform: rotate(180deg);
        @media (--desktop) {
            width: 25px;
        }
    }
    @media (--desktop) {
        margin-right: 20px;
        transform: translateX(0px);
    }
}

.projectSliderArrowRight {
    transform: translateX(70px);
    cursor: pointer;
    & svg {
        width: 41px;
        height: 37px;
        @media (--desktop) {
            width: 25px;
        }
    }
    @media (--desktop) {
        transform: translateX(0px);
    }
}
