.contactCard(data-scroll)
    .contactCardRow
        .contactCardSidebar
            .avatarSmall
                img(src='img/avatar.png')
        .contactCardName
            | Иван ПЕТРОВИЧ ПЕТРОВ
            span Руководитель департамента
    .contactCardRow
        .contactCardSidebar
            +svgIcon('icon-konvert02')
        .contactCardLink
            | ivanov@SPECTRUM-group.ru
    .contactCardRow
        .contactCardSidebar
            +svgIcon('icon-phone')
        .contactCardPhone
            | +7 495 57580404
            span Москва, местное время 12:35