.footer

    .footerBody
        .footerLeft
            .footerLogo
                img(src="/img/LOGO_BLACK.svg")
            .footerSlogan
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.6 17.1">
                    <path d="M0 16.9V.2h5.1l1.4 10.2L7.9.2h5.2V17H10V4.8L8.1 16.9h-3L3 4.8v12.1H0zM14.1 16.9L15.7.1h5.7L23 16.9h-3.2l-.2-2.7h-2l-.2 2.7h-3.3zm3.7-5.3h1.5L18.6 3h-.2l-.6 8.6zM24.1 16.9V.2h3.5l1.5 8v-8h3.2V17H29l-1.7-8.4V17h-3.2zM33.4 16.9L35 .2h5.7L42.3 17h-3.2l-.2-2.7h-2l-.2 2.7h-3.3zm3.7-5.3h1.5L37.8 3h-.2l-.5 8.6zM44 15.8c-.6-.9-.9-2.1-.9-3.9V4.7c0-1.6.3-2.7 1-3.5.8-.8 1.8-1.2 3.2-1.2 1.1 0 2 .2 2.6.7.6.4 1 1.1 1.3 1.9.2.8.4 1.9.4 3.3h-3.3V4.4a2 2 0 0 0-.2-.9c-.1-.2-.3-.3-.6-.3-.6 0-1 .4-1 1.3v8.1l.2 1.2c.1.3.4.4.7.4.3 0 .6-.1.7-.4l.2-1.2v-2.4h-.9v-3h4.1V17h-1.3l-.6-1.4a3 3 0 0 1-2.8 1.6c-1.3-.1-2.2-.5-2.8-1.4zM52.8 16.9V.2h6.7v3.2h-3.3v3.3h3.2v3.2h-3.2v3.9h3.5v3.3h-6.9zM65.4.2h4.4c1.3 0 2.3.4 2.9 1.3.6.9.9 2.1.9 3.8 0 1.7-.3 2.9-.8 3.8-.5.8-1.4 1.3-2.7 1.3h-1.4V17h-3.3V.2zm3.5 7.1l.9-.2c.2-.1.3-.4.4-.6l.1-1.2-.2-1.5c-.1-.3-.5-.5-.9-.5h-.4v4.1h.1zM74.6.2h5.2c.8 0 1.5.2 1.9.6.4.4.8.9.9 1.6.2.7.2 1.5.2 2.6 0 1-.1 1.7-.4 2.2a2 2 0 0 1-1.3 1.1c.6 0 .9.2 1.2.7.2.4.3 1 .3 1.6V17h-3.3v-6.6c0-.5-.1-.8-.3-.9l-1-.2V17h-3.4V.2zm4.2 6.2c.5 0 .7-.5.7-1.5l-.1-1-.2-.5-.4-.1H78v3.1h.8zM84.9 15.9c-.7-.8-1.1-2-1.1-3.5v-8c0-1.4.4-2.5 1.1-3.3C85.6.4 86.6 0 88 0c1.4 0 2.4.4 3.1 1.1.7.7 1.1 1.8 1.1 3.3v8c0 1.5-.4 2.7-1.1 3.5-.7.8-1.7 1.2-3.1 1.2-1.4 0-2.4-.4-3.1-1.2zm3.7-2.3l.2-1.1V4.3l-.1-.9c-.1-.2-.4-.3-.7-.3-.6 0-.8.4-.8 1.3v8.2l.2 1.1c.1.3.2.3.6.3.3 0 .5-.1.6-.4zM94.4 16a4.6 4.6 0 0 1-1.1-3.2V5c0-1.7.3-2.9 1-3.8C95 .4 96 0 97.4 0c1.2 0 2.2.3 3 1 .8.7 1.1 1.7 1.1 2.9v2.9h-3.3V4.4l-.2-1c-.1-.2-.3-.3-.6-.3s-.5.1-.6.3a2 2 0 0 0-.2.9v8.4l.2 1c.1.2.3.3.6.3.5 0 .8-.4.8-1.3v-3h3.4v3.2c0 2.8-1.4 4.2-4.2 4.2-1.3 0-2.2-.4-3-1.1zM102.7 16.9V.2h6.7v3.2h-3.3v3.3h3.2v3.2h-3.2v3.9h3.5v3.3h-6.9zM111.5 16c-.7-.8-1-2-1-3.7v-1.6h3.3v2.1c0 .8.3 1.3.8 1.3.3 0 .5-.1.6-.3l.2-.9-.2-1.4a2 2 0 0 0-.5-.9l-1.1-1.1-1.5-1.5a5 5 0 0 1-1.7-3.6c0-1.4.3-2.5 1-3.3.7-.7 1.6-1.1 2.9-1.1 1.5 0 2.6.4 3.3 1.2.7.8 1 2.1 1 3.8h-3.4V3.8l-.2-.5a.8.8 0 0 0-.5-.2l-.6.2-.2.6c0 .5.3 1.1.9 1.7l2 1.9c.5.4.8.9 1.1 1.3l.7 1.4c.2.5.3 1.2.3 1.9 0 1.7-.3 2.9-.9 3.8-.6.9-1.6 1.3-3 1.3-1.6-.1-2.7-.5-3.3-1.2zM120.5 16c-.7-.8-1-2-1-3.7v-1.6h3.3v2.1c0 .8.3 1.3.8 1.3.3 0 .5-.1.6-.3l.2-.9-.2-1.4a2 2 0 0 0-.5-.9l-1.1-1.1-1.5-1.5a5 5 0 0 1-1.7-3.6c0-1.4.3-2.5 1-3.3.7-.7 1.6-1.1 2.9-1.1 1.5 0 2.6.4 3.3 1.2.7.8 1 2.1 1 3.8h-3.4V3.8l-.2-.5a.8.8 0 0 0-.5-.2l-.6.2-.2.6c0 .5.3 1.1.9 1.7l2 1.9c.5.4.8.9 1.1 1.3l.7 1.4c.2.5.3 1.2.3 1.9 0 1.7-.3 2.9-.9 3.8-.6.9-1.6 1.3-3 1.3-1.6-.1-2.7-.5-3.3-1.2zM128.8 16.9V.2h6.7v3.2h-3.3v3.3h3.2v3.2h-3.2v3.9h3.5v3.3h-6.9zM137.5 16c-.7-.8-1-2-1-3.7v-1.6h3.3v2.1c0 .8.3 1.3.8 1.3.3 0 .5-.1.6-.3l.2-.9-.2-1.4a2 2 0 0 0-.5-.9l-1.1-1.1-1.4-1.5a5 5 0 0 1-1.7-3.6c0-1.4.3-2.5 1-3.3.7-.7 1.6-1.1 2.9-1.1 1.5 0 2.6.4 3.3 1.2.7.8 1 2.1 1 3.8h-3.4V3.8l-.2-.5a.8.8 0 0 0-.5-.2l-.6.2-.2.6c0 .5.3 1.1.9 1.7l2 1.9c.5.4.8.9 1.1 1.3l.7 1.4c.2.5.3 1.2.3 1.9 0 1.7-.3 2.9-.9 3.8-.6.9-1.6 1.3-3 1.3-1.6-.1-2.7-.5-3.4-1.2zM145.6 16.9V14h3.4v2.9h-3.4zM155.9 16a4.6 4.6 0 0 1-1.1-3.2V5c0-1.7.3-2.9 1-3.8a4 4 0 0 1 3.1-1.3c1.2 0 2.2.3 3 1 .8.7 1.1 1.7 1.1 2.9v2.9h-3.3V4.4l-.2-1c-.1-.2-.3-.3-.6-.3s-.5.1-.6.3a2 2 0 0 0-.2.9v8.4l.2 1c.1.2.3.3.6.3.5 0 .8-.4.8-1.3v-3h3.4v3.2c0 2.8-1.4 4.2-4.2 4.2a4 4 0 0 1-3-1.1zM164.2.2h5.2c.8 0 1.5.2 1.9.6.4.4.8.9.9 1.6.2.7.2 1.5.2 2.6 0 1-.1 1.7-.4 2.2a2 2 0 0 1-1.3 1.1c.5.1.9.4 1.1.8.2.4.3 1 .3 1.6v6.4h-3.3v-6.6c0-.5-.1-.8-.3-.9l-1-.2v7.7h-3.4V.2zm4.2 6.2c.5 0 .7-.5.7-1.5l-.1-1-.2-.5-.4-.1h-.8v3.1h.8zM173.5 16.9V.2h6.7v3.2h-3.3v3.3h3.2v3.2h-3.2v3.9h3.5v3.3h-6.9zM181.1 16.9L182.7.1h5.7l1.6 16.8h-3.2l-.2-2.7h-2l-.2 2.7h-3.3zm3.7-5.3h1.5l-.7-8.6h-.2l-.6 8.6zM192.5 16.9V3.4h-2V.2h7.4v3.2h-2V17h-3.4zM198.8 16.9V.2h6.7v3.2h-3.3v3.3h3.2v3.2h-3.2v3.9h3.5v3.3h-6.9zM213 16.9L210.9.1h3.2l1.2 11.4L216.4.1h3.2l-2.1 16.8H213zM219.7 16.9L221.3.1h5.7l1.6 16.8h-3.2l-.2-2.7h-2l-.2 2.7h-3.3zm3.7-5.3h1.5l-.7-8.6h-.2l-.6 8.6zM229.6 16.9V.2h3.4v13.9h3.5V17h-6.9zM238.2 15.9c-.7-.8-1-1.9-1-3.5V.2h3.3v12.2l.2 1.3c.1.3.3.4.7.4.3 0 .6-.1.7-.4l.2-1.3V.2h3.3v12.3c0 1.5-.3 2.7-1 3.5-.7.8-1.7 1.2-3.1 1.2-1.6-.1-2.6-.5-3.3-1.3zM246.7 16.9V.2h6.7v3.2h-3.3v3.3h3.2v3.2h-3.2v3.9h3.5v3.3h-6.9z"/>
                </svg>

        .footerRight
            .footerSocial
                a(href="#").footerSocialItem
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                        <circle class="black" cx="50" cy="50" r="48" fill="transparent" stroke="#000" stroke-width="4"/>
                        <path class="white" fill="#000" d="M53.5 40.2v-4.1c0-1.9 1.3-2.4 2.2-2.4h5.7V25h-7.8C44.9 25 43 31.4 43 35.6v4.6h-5v10.1h5.1v25.3h10.1V50.3h7.5l.3-4 .6-6.1h-8.1z"/>
                    </svg>
                a(href="#").footerSocialItem


                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                            <circle class="black" stroke="#000" stroke-width="4" cx="48" cy="48" r="48"/>
                            <path class="white" d="M25.5 48.1V70h10.4V40.3H25.5v7.8zm44.4 1.3c-.7-5.6-3.3-9.2-10.9-9.2-4.5 0-7.5 1.6-8.7 4h-.1v-4h-8.3V70h8.7V55.2c0-3.9.8-7.6 5.5-7.6 4.8 0 5.2 4.4 5.2 7.9V70h8.9V53.6c0-1.5-.1-2.9-.3-4.2zM30.7 25.3a5.2 5.2 0 0 0-5.2 5.2c0 2.9 2.3 5.2 5.2 5.2 2.9 0 5.2-2.3 5.2-5.2 0-2.8-2.3-5.2-5.2-5.2z" fill="#000" fill-rule="nonzero"/>
                        </g>
                    </svg>

                a(href="#").footerSocialItem
                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                            <circle class="black" stroke="#000" stroke-width="4" cx="48" cy="48" r="48"/>
                            <path class="white" d="M72.7 37.1s-.5-3.6-2-5.2c-1.9-2.1-4.1-2.1-5-2.2-7.1-.5-17.7-.5-17.7-.5h-.1s-10.6 0-17.7.5c-1 .1-3.2.2-5.1 2.2-1.5 1.6-2 5.2-2 5.2s-.5 4.3-.5 8.5v4c0 4.3.5 8.5.5 8.5s.5 3.6 2 5.3c1.9 2.1 4.4 2 5.6 2.2 4 .4 17.2.5 17.2.5s10.6-.1 17.7-.5c1-.1 3.1-.1 5-2.2 1.5-1.6 2-5.3 2-5.3s.5-4.2.5-8.5v-4.1c.1-4.1-.4-8.4-.4-8.4zm-16.3 10l-13.7 7.4V39.6l6.2 3.4 7.5 4.1z" fill="#000" fill-rule="nonzero"/>
                        </g>
                    </svg>
                a(href="#").footerSocialItem
                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                            <circle class="black"stroke="#000" stroke-width="4" cx="48" cy="48" r="48"/>
                            <path class="white" d="M37.7 32.1H26.9l6.4 11.2-8.5 14.1h10.8L44 43.3l-6.3-11.2zm21.9-9L42.6 53l11 19.3H65L54.1 53l17-29.9H59.6z" fill="#000" fill-rule="nonzero"/>
                        </g>
                    </svg>

    .footerLine
        .footerLeft
            .footerCopyright
                | © Copyright 2019 Spectrum. All Rights Reserved.             				   																					              
        .footerRight
            .footerMenu
                a(href="#") Privacy
                a(href="#") Cookies
                a(href="#") Slavery and Human Trafficking Statement



