.header
    .headerLeft
        a(href='#').headerLogo
            img(src="img/LOGO_COLOR.svg")
        .headerMiddle
            ul.headerMenu
                li
                    .headerMenuItem.headerMenuActive  ПРОДУКТЫ
                    .headerMenuLevel
                        .headerMenuLevelHeader Cектора
                        .headerMenuLevelItems
                            .headerMenuLevelItem.headerMenuLevelItemActive  
                                | ПРОДУКТЫ
                                .headerMenuLevelNext
                                    .headerMenuLevelNextHeader Cектора
                                    .headerMenuLevelNextItems
                                        a(href="#top").headerMenuLevelNextItem.headerMenuLevelNextItemActive  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                    .headerMenuLevelNextClose
                                        +svgIcon('icon-krest')
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                        .headerMenuLevelClose
                            +svgIcon('icon-krest')
                li
                    a(href="#skills").headerMenuItem  ТЕХНОЛОГИИ
                li
                    a(href="#bim").headerMenuItem  СЕКТОРА
                li
                    a(href="#cases").headerMenuItem  ПРОЕКТЫ
                li
                    .headerMenuItem  НОВОСТИ
                    .headerMenuLevel
                        .headerMenuLevelHeader НОВОСТИ
                        .headerMenuLevelItems
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            .headerMenuLevelItem
                                | НОВОСТИ
                                .headerMenuLevelNext
                                    .headerMenuLevelNextHeader Cектора
                                    .headerMenuLevelNextItems
                                        a(href="#top").headerMenuLevelNextItem.headerMenuLevelNextItemActive  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                    .headerMenuLevelNextClose
                                        +svgIcon('icon-krest')
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                            
                            .headerMenuLevelItem
                                | НОВОСТИ2
                                .headerMenuLevelNext
                                    .headerMenuLevelNextHeader Cектора
                                    .headerMenuLevelNextItems
                                        a(href="#top").headerMenuLevelNextItem.headerMenuLevelNextItemActive  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        a(href="#top").headerMenuLevelNextItem  ПРОДУКТЫ
                                        
                                    .headerMenuLevelNextClose
                                        +svgIcon('icon-krest')
                            a(href="#top").headerMenuLevelItem  ПРОДУКТЫ
                        .headerMenuLevelClose
                            +svgIcon('icon-krest')
                li
                    a(href="#cases").headerMenuItem КОМПАНИЯ
                li
                    a(href="#cases").headerMenuItem  КАРЬЕРА
            .headerSearch
                input.headerSearchInput
    .headerControl
        .headerSearchButton
            //- input.headerSearchInput
            button.buttonSearch
                +svgIcon('icon-search')
            button.buttonSearchClose
                +svgIcon('icon-krest')
        .headerContact
            a(href="#cases").headerMenuItem  КОНТАКТЫ
        .headerLang
            a(href="#").headerLangItem GER
            .headerLangItemLine
            a(href="#").headerLangItem ENG
            .headerLangItemLine
            a(href="#").headerLangItem 䵎䵏

        .headerMobileMenuButton
            button.hamburger.hamburger--squeeze(type='button')
                span.hamburger-box
                    span.hamburger-inner