.managmentCard(data-scroll)
    .managmentPhoto
        img(src='img/manager.png')
    .managmentName
        | ВАЛДИМИР ФИЛИПОВИЧ ИВАНОВ
    .managmentPosition
        | ПРЕДСЕДАТЕЛЬ СОВЕТА ДИРЕКТОРОВ