.mobileMenu
    .mobileMenuWrap
        .mobileMenuItems
            a(href="#").mobileMenuItem  ПРОДУКТЫ
            .mobileMenuItemChildren
                .mobileMenuItem  
                    | ТЕХНОЛОГИИ
                    +svgIcon('icon-menuarrow')
                .mobileMenuNext
                    .mobileMenuNextBack 
                        +svgIcon('icon-menuarrow')
                        span Меню
                    .mobileMenuNextHeader Хидер
                    a(href="#").mobileMenuNextItem  СЕКТОРА
                    a(href="#").mobileMenuNextItem  ПРОЕКТЫ
                    a(href="#").mobileMenuNextItem  НОВОСТИ
                    a(href="#").mobileMenuNextItem  КОМПАНИЯ
                    a(href="#").mobileMenuNextItem  КАРЬЕРА

            a(href="#").mobileMenuItem  СЕКТОРА
            a(href="#").mobileMenuItem  ПРОЕКТЫ
            a(href="#").mobileMenuItem  НОВОСТИ
            .mobileMenuItemChildren
                .mobileMenuItem  
                    | КОМПАНИЯ
                    +svgIcon('icon-menuarrow')
                .mobileMenuNext
                    .mobileMenuNextBack 
                        +svgIcon('icon-menuarrow')
                        span Меню
                    .mobileMenuNextHeader КОМПАНИЯ
                    a(href="#").mobileMenuNextItem  СЕКТОРА
                    a(href="#").mobileMenuNextItem  ПРОЕКТЫ
                    a(href="#").mobileMenuNextItem  НОВОСТИ
                    a(href="#").mobileMenuNextItem  КОМПАНИЯ
                    a(href="#").mobileMenuNextItem  КАРЬЕРА
            a(href="#").mobileMenuItem  КАРЬЕРА

        .mobileMenuFooter
            .mobileMenuFooterLeft
                .mobileLang
                    a(href="#").mobileLangItem GER
                    a(href="#").mobileLangItem ENG
                    a(href="#").mobileLangItem 䵎䵏
                .mobileSearch
                    input.mobileSearchInput
            .mobileSearchButton
                button.buttonSearch
                    +svgIcon('icon-search')
                button.buttonSearchClose
                    +svgIcon('icon-krest')