.pageFooter(data-scroll)
    a(href="mailto:dd@dd.ru" title="Отправить письмо").pageFooterItem
        .pageFooterItemText Отправить письмо
        .pageFooterItemIcon
            +svgIcon('icon-konvert')
    a(href="#" title="Поделиться").pageFooterItem
        .pageFooterItemText Поделиться 
        .pageFooterItemIcon
            +svgIcon('icon-share')
    a(href="#" title="Скачать презентацию").pageFooterItem
        .pageFooterItemText Скачать презентацию 
        .pageFooterItemIcon
            +svgIcon('icon-download2')
    a(href="#" title="Подписать на рассылку").pageFooterItem
        .pageFooterItemText Подписать на рассылку
        .pageFooterItemIcon
            +svgIcon('icon-konvert01')