.projects
    .projectsHeader(data-scroll)
        h2 
            | ПРОЕКТЫ  BIM-МЕНЕДЖЕМЕНТ
        .projectsHeaderLine
    .projectSlider.glide(data-scroll)
        .glide__track(data-glide-el='track')
            .glide__slides
                .glide__slide.projectSlide
                    a(href="#").projectSlideWrap
                        .projectSlideImage
                            img(src='img/item.jpg')
                        .projectSlideRow
                            .projectSlideText
                                h3 АэропорТ ТОлмачево
                                p Строительную площадку проекта РосАгроМаркета посетил губернатор Новосибирской области Андрей Травников.
                            .projectSlideSidebar
                                +svgIcon('icon-circle-arrow')
                .glide__slide.projectSlide
                    a(href="#").projectSlideWrap
                        .projectSlideImage
                            img(src='img/item.jpg')
                        .projectSlideRow
                            .projectSlideText
                                h3 АэропорТ ТОлмачево
                                p Строительную площадку проекта РосАгроМаркета посетил губернатор Новосибирской области Андрей Травников.
                            .projectSlideSidebar
                                +svgIcon('icon-circle-arrow')
                .glide__slide.projectSlide
                    a(href="#").projectSlideWrap
                        .projectSlideImage
                            img(src='img/item.jpg')
                        .projectSlideRow
                            .projectSlideText
                                h3 АэропорТ ТОлмачево
                                p Строительную площадку проекта РосАгроМаркета посетил губернатор Новосибирской области Андрей Травников.
                            .projectSlideSidebar
                                +svgIcon('icon-circle-arrow')
                .glide__slide.projectSlide
                    a(href="#").projectSlideWrap
                        .projectSlideImage
                            img(src='img/item.jpg')
                        .projectSlideRow
                            .projectSlideText
                                h3 АэропорТ ТОлмачево
                                p Строительную площадку проекта РосАгроМаркета посетил губернатор Новосибирской области Андрей Травников.
                            .projectSlideSidebar
                                +svgIcon('icon-circle-arrow')
        .projectSliderArrows(data-glide-el="controls")
            .projectSliderArrowLeft(data-glide-dir="<")
                +svgIcon('icon-arrow')
            .projectSliderArrowRight(data-glide-dir=">")
                +svgIcon('icon-arrow')