.content#skills
    .contentHeader(data-scroll)
        .contentHeaderText.contentHeaderTextWhite
            h3 Leistungen
            h2 PLANUNGSLEISTUNGEN
        .contentHeaderBackground
            img(src="img/skills.jpg")
    .contentColumns
        .contentItem(data-scroll)
            .contentItemHeader
                h3 Kompetenzen
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
        .contentItem(data-scroll)
            .contentItemHeader
                h3 Kompetenzen
            .contentItemText
                p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
        .contentItem(data-scroll)
            .contentItemHeader
                h3 Kompetenzen
            .contentItemText
                ul
                    li Gemeinsam mit den Kunden
                    li Gemeinsam mit den Kunden
                    li Gemeinsam mit den Kunden
                button.contentItemButton Read more
            .contentItemMore
                .contentItemMoreWrap
                    p Gemeinsam mit den Kunden werden Projekte entwickelt, optimiert und bis zur Ausführungsreife gebracht. 
                    ul
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                        li Gemeinsam mit den Kunden
                    a(href="#") LINK
                    br
                    a(href="#") LINK
                    br
                    a(href="#") Link
                    img(src="/img/item.jpg")
                    .contentItemMoreLine
                    button.contentItemMoreClose
                        +svgIcon('icon-open')
                    
                    
            