.slider {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    @media (--tablet) {
        box: vertical-reverse;
        order: 0;
    }
    @media (--phone) {
        margin-bottom: 20px;
    }
}
.sliderMain {
    flex: 1 1 auto;
    box: vertical;
    /* height: calc(100vh - 250px); */
    margin-top: -45px;
    & .glide__track {
        flex: 1 1 auto;
        box: vertical;
    }
    & .glide__slides {
        flex: 1 1 auto;
        width: 100vw !important;
        height: 100%;
        /* height: calc(100vh - 150px); */
        transform: translate3d(0, 0, 0) !important;
    }
    & .glide__slide {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    & .glide__slide.glide__slide--active {
        z-index: 1;
        opacity: 1;
    }
    @media (--tablet) {
        min-height: 400px;
    }
    @media (--phone) {
        height: auto;
    }
}
